#anime{
list-style-type:upper-roman;
}
ul li a{text-decoration:none;}
#one{color:navy;}
#two{color:purple;}
#three{color:lightgreen;}
#four{color:skyblue;}
#navibar{background-color: Navy;
list-style-type:none;
margin: 0px;
padding: 0px;text-align: center;
}
#li{
  display:inline-block;
  padding: 12px 24px;
}
#li:hover{background-color: skyblue;}
#li:active{
  background-color: navy;}
#li a{;color:white;}
