  body{background-color:#ceedea;margin:0px;}
  nav{
  color:#ceedea;
  background-color:black;
  margin: 0px;
  padding: 12px 24px; text-align: right;
  font-family: monospace;
  }
  nav a{text-decoration: none;color:white; padding:8px;
  }
  nav a:hover{background-color:#ceedea;color:black;}
  h1{text-align: center;font-family: monospace;
    background-color:#57737a;
    margin:0px 0px 0px 0px;
    padding: 48px;
    color:white;
    background-image: url("../images/smoothie2.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 300px;
    font-size: 48px;
  }
  main{
    grid-area:content;
    background-color:#85bdbf;
    text-align: center;
    font-family: monospace;
    padding:24px;
    color:black;
    margin-top: 0px;
  }
  footer{
    color:#ceedea;
    background-color:black;
    margin: 0px;
    padding: 12px 24px; text-align: center;
    font-family: monospace;

  }
@media screen and (max-width: 480px){
  nav{
      font-size:16px;
      text-align:center;
    }
}
