body{background-color:#ceedea;margin:0px;}
nav{
  background-color:black ;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color:black;
  margin: 0px;
  padding-top: 24px;
  text-align: right;
  font-family: monospace;
  font-size: 24px;
}
nav a{
  text-decoration: none;
  color:white;
  padding:8px;
  margin-right: 6px;
}
nav a:hover{
  background-color:#ceedea;
  color:black;}
header{
  padding:24px;
  text-align: center;
}
main{
  display:flex;
  flex-direction: column;
}
  div{
    text-align: center;
  }
#first{
  padding:8px;
}
#FeelingsId{
  margin-top: 12px;
}
#button{
  text-align: center;
  width:75px;
  align-items: center;
}
  textarea{
    margin-top: 4px;
    padding: 8px;
    width: 400px;
    height:200px;
  }
  @media screen and (max-width: 480px){
    nav{
      flex-direction: column;
        font-size:18px;
        text-align: center;
      }

  }
