body{
  margin:0px;
  font-family: 'Roboto', sans-serif;
}
nav{
  padding:20px;
  padding-left: 35px;
  display: flex;
  }
nav a {
  text-decoration: none;
  color:black;
  padding:20px;
}
nav a:hover{
  color:gray;
}
header{
  background-image: url(../images/ivan.jpg);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
nav #current{
  color:gray;
  text-decoration: underline;
}
h2{
  text-align: center;
}
.gallerygrid div{
  flex-basis:33%;
}
.gallerygrid div img{
  width:100%;
}
.gallerygrid{
  display:flex;
  justify-content: space-evenly;
}
footer{
  padding:50px;
}
@media screen and (max-width: 480px){
      nav {
        flex-direction: column;
          font-size:20px;
          text-align:center;
        }
      header{
        font-size: 24px
      }
      .gallerygrid{
        flex-direction: column;
      }
    }
