#gridlayout{
  display:grid;
  grid-template-columns:1fr repeat(3, 333px) 1fr;
  grid-auto-rows:minmax(10px, auto);
  grid-template-areas:
    ". header header header ."
    ". navbar navbar navbar ."
    ". banner banner banner ."
    ". cards  cards  cards  ."
    ". aside  blog   blog   ."
    ". footer footer footer ."
    "bottom bottom bottom bottom bottom";
}
body {
  background: url("../assignments/georgerrmartin/content-bg.jpeg");
  background-position: center 145px;
}
nav, #bannercontainer, #cardscontainer, aside, main, footer,{
  border: 3px solid gray;
}
header{
  background-color:lightgray;
  grid-area: header;
  font-family: 'Montaga', serif;
  display:flex;
  align-items: center;
  justify-content: space-around;
}
header h1{
  display: inline-block;
  font-size: 60px;
  color:#314658;
}
#socials{
  flex-direction: column;
text-align: right;
}
nav ul li:hover {
  background-color:#FFFBFB;
  color:#493E1B;
}
nav{
  grid-area: navbar;
  background-color: lightgray;
}
nav ul{
  list-style-type: none;
  padding: 0px;
  margin:0px;
  display: flex;
  justify-content: space-between;
}
nav ul li{
  padding: 12px;
}
nav ul li a{
  color: black;
  text-decoration: none;
  font-family: 'Montaga', serif;
}
#bannercontainer{
  grid-area: banner;
  display:flex;
}
#bannercontainer img{
  width:100%;
  flex-grow: 1;
}
#cardscontainer{
  grid-area: cards;
  display:flex;
}
#cardscontainer img{
flex-grow: 1;
width:100%;
}
aside{
  grid-area: aside;
  background-color: lightgray;
  display:flex;
  flex-direction: column;
}
aside img{
  width:100%;
}
#one{
  background-image: url("../assignments/georgerrmartin/events-bg.jpeg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: black;
  padding:24px;
}
#one h3{
  color:white;
  font-family: 'Montaga', serif;
}
#two{
  background-image: url("../assignments/georgerrmartin/releases-bg.jpeg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: #0A0F25;
  padding:24px;
}
#two h3{
  color:white;
  font-family: 'Montaga', serif;
}
.blue{
  font-family: 'Montaga', serif;
  color: #92add1;
  font-size: 15px;
}
.gray{
  color: #a1a1a1;
  font-size: 12px;
}
.yellow{
  color:#ddbf73;
}
.bub{
  text-decoration: underline;
  color:white;
}
.white{
  color:white;
}
main{
  grid-area: blog;
  background-color: #E7E7E7;
  display: flex;
  flex-direction: column;
}
footer{
  grid-area: footer;
  background-color: lightgray;
}
#bottom{
  grid-area: bottom;
    background: url("../assignments/georgerrmartin/footer-bg.jpeg");
    background-repeat: no-repeat;
    background-position: center top;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    letter-spacing: .2em;
    text-transform: uppercase;
    text-align: center;
    padding: 13px 0 120px 0;
    color: black;
    width:100%;
}
main h3, main h2, main p{
  margin-left:16px;
}
#blog{
  float:left;
}
main h3{
  font-family: 'Montaga', serif;
  color: #1c4268;
}
main h2{
  font-family: 'Montaga', serif;
  font-size: 35px;
  color: #1c4268;
}
main p{
  font-family: Geneva,Tahoma,Verdana,sans-serif;
  font-size: 13px;
}
main p a{
  font-size: 28px;
  color: #1c4268;
}
@media only screen and (max-width:1000px){
  #gridlayout{
    display:grid;
    grid-template-columns:1fr;
    grid-template-areas:
      "header"
      "navbar"
      "banner"
      "blog"
      "cards"
      "aside"
      "footer"
      "bottom";
  }
  header{
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  header h1{
    font-size: 24px;
    flex-direction: column;
  }
  nav ul{
    flex-direction: column;
    align-items: center;
  }
  nav ul li{
    padding: 6px;
  }
  #social{
    text-align: center;
  }
  #bannercontainer img{
    flex-grow: 0;
  }
  #cardscontainer{
    flex-direction: column;
  }
  main h3, main h2, main p{
    margin:8px;
  }
  main h2{
    font-size: 19px;
  }
  main p{
    font-size: 12px;
  }
  main p a{
    font-size: 14px;
  }
  aside{
    flex-direction: column;
  }
}
