h1 {
  color: red;
}
p {
  color: blue;
}
#p1 {
  font-style: italic;
}
.boldText {
  font-weight: bold;
}
body{background: linear-gradient(to bottom, blue, turquoise, alice blue)
    height: 100vh;}

.card {
  background-color: lightgrey;
  border: 5px solid grey;
  border-radius: 10px;
  /* offset-x, offset-y, blur-radius, spread-radius, color */
  /* rgba -> r: 0-255, g: 0-255, b: 0-255, a: 0-1 */
  box-shadow: 10px 10px 12px 4px rgba(0,0,0,0.5);
  margin: 24px;
  padding: 48px;
}
.button{
  background: linear-gradient(to bottom, lightgreen, forestgreen);
  display: inline-block;
  border: 3px solid forestgreen;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  margin: 5px 5px;
}
/* pseudo class */
.button:hover{
  opacity: 0.8;
}
.button:active{
  background: linear-gradient(to bottom, forestgreen, lightgreen);
}
